Linx/Fortigate Vulnerability API.json
{
  "name": "Fortigate Vulnerability API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67784bc2-f844-47bd-b809-68dc8b7bcdae",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "17d50b55-c543-4370-b962-8b8195570a65",
      "name": "Webhook",
      "webhookId": "67784bc2-f844-47bd-b809-68dc8b7bcdae"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da051323-1aa3-4d3f-aefc-0e45f84ab66d",
              "name": "version",
              "value": "=FortiOS {{ $json.body.version.split(\"v\")[1].split(\",\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d757d963-e17d-482b-8f6c-08bee25876d9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://www.fortiguard.com/psirt?filter=1&product=FortiOS-6K7K%2CFortiOS&version={{ $json.version }}",
        "operation": "getPDF",
        "margin": {},
        "options": {
          "browserWSEndpoint": "ws://172.20.0.50:3000"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "e94daf00-7760-4fa6-a655-cf6c18dc0165",
      "name": "Puppeteer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Puppeteer').item.binary }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um agente de IA especialista em Cyber Security e análise de dados estruturados. Sua tarefa é analisar um pdf de uma página de aviso de segurança da Fortinet (PSIRT) e extrair informações sobre vulnerabilidades do FortiOS.\n\nAnalise cuidadosamente o texto/HTML recebido e extraia os seguintes campos, mapeando-os exatamente para as chaves do JSON abaixo:\n\n1. PSIRT: O código identificador do aviso (ex: IR-202X-XXXXX ou CVE-XXXX-XXXXX).\n2. Description: Um resumo claro e conciso da vulnerabilidade.\n3. Affected Products: Lista de produtos e versões afetadas (foque especialmente nas versões do FortiOS).\n4. Updated Date: A data da última atualização do aviso (formato original da página ou YYYY-MM-DD).\n5. Component: O componente ou módulo específico afetado (ex: SSL-VPN, GUI, Captive Portal).\n6. Discovered: Quem descobriu a vulnerabilidade (se mencionado; se não houver, retorne \"Not specified\").\n7. Attack Type: O tipo de ataque/vulnerabilidade (ex: Buffer Overflow, RCE, SQL Injection, Privilege Escalation).\n8. Severity: O nível de severidade (ex: Critical, High, Medium, Low) e/ou a pontuação CVSS, se disponível.\n\n---\nREGRAS CRÍTICAS DE RESPOSTA:\n- Retorne EXCLUSIVAMENTE o objeto JSON válido.\n- Não inclua nenhuma introdução, explicação, markdown adicional fora do bloco de código JSON, ou notas de rodapé.\n- Se algum campo não for encontrado no conteúdo fornecido, preencha o valor como null ou \"Not specified\".\n- Certifique-se de que as chaves do JSON tenham exatamente os nomes solicitados.\n\n---\nTEMPLATE DO JSON DE SAÍDA:\n{\n  \"PSIRT\": \"String\",\n  \"Description\": \"String\",\n  \"Affected Products\": [\"String/Lista\"],\n  \"Updated Date\": \"String\",\n  \"Component\": \"String\",\n  \"Discovered\": \"String\",\n  \"Attack Type\": \"String\",\n  \"Severity\": \"String\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "cbb032f9-852d-4b9e-91e1-10b8c58e6b98",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"PSIRT\": \"String\",\n  \"Description\": \"String\",\n  \"Affected Products\": [\"String/Lista\"],\n  \"Updated Date\": \"String\",\n  \"Component\": \"String\",\n  \"Discovered\": \"String\",\n  \"Attack Type\": \"String\",\n  \"Severity\": \"String\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        208
      ],
      "id": "4aac572b-6bd5-4737-ba70-301200b25bf1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        0
      ],
      "id": "fd160042-f699-4d03-af4f-75ff6b9dbaf1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        480,
        208
      ],
      "id": "d7b1ab72-0c44-4bbd-96b2-f116464514e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "USztDcGvhGQAJreY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Puppeteer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puppeteer": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4245d992-7f9a-42ed-a0e2-ddbd72246854",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39f98648101a4aea0e9a57003c20b21fe1e77585ca99182bbf134b9eae8eba8b"
  },
  "id": "vIdp8JebgBSer5OB",
  "tags": []
}